<p>Pour nous contacter, envoyez nous un message via ce formulaire </p>

<form action='/' method="post">
	<label placeholder="Nom">Votre Nom</label><br>
	<input type="text" name="name"> <br>
	<label placeholder="Mail"> Votre Mail</label> <br>
	<input type="text" name="email"><br>
	<label placeholder="Message">Votre message</label><br>
	<textarea name="message" rows="16" cols="28"> </textarea> <br>
	<input type="submit" value="Envoyer">
</form>